{% extends "base.html" %}
{% block content %}
<h2>{{playername}}</h2>
{% if inventory%}
    <h3>Inventory</h3>
    {% if inventory %}
        <table class=content>
            <tr>
                <th>Slot</th>
                <th>ID</th>
                <th>Quantity</th>
            </tr>
        {% for slot, item in inventory %}
            <tr>
                <td>{{ slot }}</td>
                <td>{{ item.itemID }}</td>
                <td>{{ item.amount}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% else %}
    <p>
    {% if notonline %}
        Player not found.
    {% else %}
        Could not connect to server.
    {% endif %}
    </p>
{% endif %}
{% endblock %}
{% block header %}
Server Statistics
{% endblock %}
